<div class="container">
  <header>
    <img class="logo" src="assets/imgs/logo.png" alt="">
    <h4>Construa builds com facilidade, compartilhe e salve com simplicidade.</h4>
  </header>
  

  <div class="flex-container">
    <div style="display: flex; flex-direction: column">
      <div class="armorsAndJewelrys">
        <div class="armor">

          <div class="item" (click)="openDialog('headArmor', build.headArmor)">
            <img [src]=" 'assets/imgs/items/' + build.headArmor.img_short" id="headArmorIMG" />
          </div>


          <div class="item" (click)="openDialog('bodyArmor', build.bodyArmor)">
            <img [src]=" 'assets/imgs/items/' + build.bodyArmor.img_short" id="bodyArmorIMG" />
          </div>



          <div class="item" (click)="openDialog('glove', build.glove)">
            <img [src]=" 'assets/imgs/items/' + build.glove.img_short" id="legArmorIMG" />
          </div>



          <div class="item" (click)="openDialog('legArmor', build.legArmor)">
            <img [src]=" 'assets/imgs/items/' + build.legArmor.img_short" id="gloveIMG" />
          </div>



          <div class="item" (click)="openDialog('relic', build.relic)">
            <img [src]=" 'assets/imgs/items/' + build.relic.img_short" id="relicIMG" />
          </div>

        </div>
        <div class="jewelry">

          <div class="item" (click)="openDialog('amulet', build.amulet)">
            <img id="amuletIMG" [src]=" 'assets/imgs/items/' + build.amulet.img_short" />
          </div>


          <div class="item" (click)="openDialog('rings', build.rings[0])">
            <img id="ring1IMG" [src]=" 'assets/imgs/items/' + build.rings[0].img_short" />
          </div>



          <div class="item" (click)="openDialog('rings', build.rings[1])">
            <img id="ring2IMG" [src]=" 'assets/imgs/items/' + build.rings[1].img_short" />
          </div>



          <div class="item" (click)="openDialog('rings', build.rings[2])">
            <img id="ring3IMG" [src]=" 'assets/imgs/items/' + build.rings[2].img_short" />
          </div>



          <div class="item" (click)="openDialog('rings', build.rings[3])">
            <img id="ring4IMG" [src]=" 'assets/imgs/items/' + build.rings[3].img_short" />
          </div>

        </div>
      </div>
      <div class="weapons">

        <div class="item" (click)="openDialog('longGun', build.longGun)">
          <img id="longWeaponIMG" [src]=" 'assets/imgs/items/' + build.longGun.img_short" />
          <div class="modAndMutator fixedLeft"  [ngClass]="{'disabled': build.longGun.modExclusive}" (click)="openDialog('modLongGun', build.modLongGun, $event)">
            <img *ngIf="build.modLongGun" [src]=" 'assets/imgs/items/' + build.modLongGun.img_short" />
          </div>
          <div class="modAndMutator fixedRight" (click)="openDialog('mutatorLongGun', build.mutatorLongGun, $event)">
            <img *ngIf="build.mutatorLongGun" [src]=" 'assets/imgs/items/' + build.mutatorLongGun.img_short" />
          </div>
        </div>



        <div class="item" (click)="openDialog('meleeWeapon', build.meleWeapon)">
          <img id="meleeWeaponIMG" [src]=" 'assets/imgs/items/' + build.meleWeapon.img_short" alt="" />
          <div *ngIf="build.modMeleeWeapon" class="modAndMutator fixedLeft">
            <img  [src]=" 'assets/imgs/items/' + build.modMeleeWeapon.img_short" />
          </div>
          <div class="modAndMutator fixedRight" (click)="openDialog('mutatorMeleeWeapon', build.mutatorMeleeWeapon, $event)">
            <img *ngIf="build.mutatorMeleeWeapon" [src]=" 'assets/imgs/items/' + build.mutatorMeleeWeapon.img_short" />
          </div>
        </div>



        <div class="item" (click)="openDialog('handGun', build.handGun)">
          <img id="handGunIMG" [src]=" 'assets/imgs/items/' + build.handGun.img_short" alt="" />
          <div class="modAndMutator fixedLeft" [ngClass]="{'disabled': build.handGun.modExclusive}" (click)="openDialog('modHandGun', build.modHandGun, $event)">
            <img *ngIf="build.modHandGun" [src]=" 'assets/imgs/items/' + build.modHandGun.img_short" />
          </div>
          <div class="modAndMutator fixedRight" (click)="openDialog('mutatorHandGun', build.mutatorHandGun, $event)">
            <img *ngIf="build.mutatorHandGun" [src]=" 'assets/imgs/items/' + build.mutatorHandGun.img_short" />
          </div>
        </div>

      </div>
    </div>
  </div>
  <section class="sec-buttons">
    <button mat-raised-button (click)="captureAndCopy()">Screenshot</button>
    <button mat-raised-button (click)="captureAndDownload()">Download</button>
  </section>
 

</div>