$backgroundColor: #0e0e0e;
$backgroundLigthColor: #1C1C1C;
$secondaryColor: #e45454;
$red: #e45454;

$width: 280px;
$height: 356px;
$division: 1.7;
$ligth-grey: #525252;
$ligth-grey: #808080;
$sizeArmorsAndJewelrys: 100px;
$sizeWeapons: 200px;
